
.search{
    position: absolute;
    top: 12.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    border-radius: 30px;
    height: 50px;
    transition: 1s;
    box-shadow: inset 0 5px 5px #CED0DF,
    0 -5px 10px #F3F3F3,
    inset 0 -5px 5px #EFF1F0,
    0 10px 15px #CDD4DE;
    width: 100px;
    overflow: hidden;
}
i {
    padding: 4px;
    color: #697B89;
}
input{
    opacity: 0;
    transform: translate(-50px);
    background-color: transparent;
    border: none;
    outline: none;
    width: 800px;
    padding: 0 20px;
}
.search:focus-within{
    width: 800px;
}
.search:focus-within input{
    opacity: 1;
    transform: translate(0);
}
input ~ i{
    opacity: 0;
    transform: translate(50px);
    transition: 0.5s ;
}
input:valid ~ i {
    opacity: 1;
    transform: translate(0);
}